@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  user-select: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .12);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .2);
}

:root {
  --primary-color: #111111;
  --secondary-color: #1a1a1a;

  --themewhite: #f5f5f5;
  --secondarywhite: #8a8a8a;

  --background: #080808;

  color: var(--themewhite);

  background:
    radial-gradient(circle at top center,
      rgba(255, 255, 255, 0.04) 0%,
      transparent 40%),
    linear-gradient(180deg,
      #101010 0%,
      #050505 100%);

  background-attachment: fixed;
}

::selection {
  background: rgba(255, 255, 255, .15);
  color: #fff;
}

@theme {
  --color-primary: #1e293b;
  --color-secondary: #64748b;
  --color-themewhite: #f8fafc;
  --color-secondarywhite: #94a3b8;
  --color-background: #020617;
}